{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-payment" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-payment" class="form-horizontal">
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-api-host">{{ entry_api_host }}</label>
                        <div class="col-sm-10">
                            <input type="text" value="{{ payment_factoring004_api_host }}" name="payment_factoring004_api_host" placeholder="{{ entry_api_host }}" id="input-api-host" class="form-control" />
                            {% if error_api_host %}
                                <div class="text-danger">{{ error_api_host }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-preapp-token">{{ entry_preapp_token }}</label>
                        <div class="col-sm-10">
                            <input type="text" value="{{ payment_factoring004_preapp_token }}" name="payment_factoring004_preapp_token" placeholder="{{ entry_preapp_token }}" id="input-preapp-token" class="form-control" />
                            {% if error_preapp_token %}
                                <div class="text-danger">{{ error_preapp_token }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-delivery-token">{{ entry_delivery_token }}</label>
                        <div class="col-sm-10">
                            <input type="text" value="{{ payment_factoring004_delivery_token }}" name="payment_factoring004_delivery_token" placeholder="{{ entry_delivery_token }}" id="input-delivery-token" class="form-control" />
                            {% if error_delivery_token %}
                                <div class="text-danger">{{ error_delivery_token }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-partner-name">{{ entry_partner_name }}</label>
                        <div class="col-sm-10">
                            <input type="text" value="{{ payment_factoring004_partner_name }}" name="payment_factoring004_partner_name" placeholder="{{ entry_partner_name }}" id="input-partner-name" class="form-control" />
                            {% if error_partner_name %}
                                <div class="text-danger">{{ error_partner_name }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-partner-code">{{ entry_partner_code }}</label>
                        <div class="col-sm-10">
                            <input type="text" value="{{ payment_factoring004_partner_code }}" name="payment_factoring004_partner_code" placeholder="{{ entry_partner_code }}" id="input-partner-code" class="form-control" />
                            {% if error_partner_code %}
                                <div class="text-danger">{{ error_partner_code }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-point-code">{{ entry_point_code }}</label>
                        <div class="col-sm-10">
                            <input type="text" value="{{ payment_factoring004_point_code }}" name="payment_factoring004_point_code" placeholder="{{ entry_point_code }}" id="input-point-code" class="form-control" />
                            {% if error_point_code %}
                                <div class="text-danger">{{ error_point_code }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-partner-email">{{ entry_partner_email }}</label>
                        <div class="col-sm-10">
                            <input type="text" value="{{ payment_factoring004_partner_email }}" name="payment_factoring004_partner_email" placeholder="{{ entry_partner_email }}" id="input-partner-email" class="form-control" />
                            {% if error_partner_email %}
                                <div class="text-danger">{{ error_partner_email }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-partner-website">{{ entry_partner_website }}</label>
                        <div class="col-sm-10">
                            <input type="text" value="{{ payment_factoring004_partner_website }}" name="payment_factoring004_partner_website" placeholder="{{ entry_partner_website }}" id="input-partner-website" class="form-control" />
                            {% if error_partner_website %}
                                <div class="text-danger">{{ error_partner_website }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-paid-order-status">{{ entry_paid_order_status }}</label>
                        <div class="col-sm-10">
                            <select name="payment_factoring004_paid_order_status_id" id="input-paid-order-status" class="form-control">
                                {% for order_status in order_statuses %}
                                    {% if order_status.order_status_id == payment_factoring004_paid_order_status_id %}
                                        <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                                    {% else %}
                                        <option value="{{ order_status.order_status_id }}" {% if (order_status.name in ['В обработке','Processing']) %} selected="selected" {% endif %}>{{ order_status.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-unpaid-order-status">{{ entry_unpaid_order_status }}</label>
                        <div class="col-sm-10">
                            <select name="payment_factoring004_unpaid_order_status_id" id="input-paid-order-status" class="form-control">
                                {% for order_status in order_statuses %}
                                    {% if order_status.order_status_id == payment_factoring004_unpaid_order_status_id %}
                                        <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                                    {% else %}
                                        <option {% if (order_status.name in ['Неудавшийся','Failed']) %} selected="selected" {% endif %} value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-delivery-order-status">{{ entry_delivery_order_status }}</label>
                        <div class="col-sm-10">
                            <select name="payment_factoring004_delivery_order_status_id" id="input-delivery-order-status" class="form-control">
                                {% for order_status in order_statuses %}
                                    {% if order_status.order_status_id == payment_factoring004_delivery_order_status_id %}
                                        <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                                    {% else %}
                                        <option {% if (order_status.name in ['Доставлено','Shipped']) %} selected="selected" {% endif %} value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-return-order-status">{{ entry_return_order_status }}</label>
                        <div class="col-sm-10">
                            <select name="payment_factoring004_return_order_status_id" id="input-return-order-status" class="form-control">
                                {% for order_status in order_statuses %}
                                    {% if order_status.order_status_id == payment_factoring004_return_order_status_id %}
                                        <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                                    {% else %}
                                        <option {% if (order_status.name in ['Возврат','Denied']) %} selected="selected" {% endif %} value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-delivery">{{ entry_delivery_items }}</label>
                        <div class="col-sm-10">
                            <select style="height: 60px !important;" multiple name="payment_factoring004_delivery[]" id="input-delivery" class="form-control">
                                {% for delivery in deliveries %}
                                    <option {% for item in payment_factoring004_delivery %} {% if item == delivery.id %} selected {% endif %}  {% endfor %} value="{{ delivery.id }}">{{ delivery.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-agreement-file">{{ entry_agreement_file }}</label>
                        <div class="col-sm-10">
                            {% if payment_factoring004_agreement_file is not empty %}
                                <a class="btn btn-default" target="_blank" href="../image/{{ payment_factoring004_agreement_file }}"><i class="fa fa-file-pdf-o"></i></a>
                                <button id="payment-factoring004-agreement-button" type="button" data-toggle="tooltip" title="" class="btn btn-danger" data-original-title="Удалить"><i class="fa fa-close"></i></button>
                            {% else %}
                                <button type="button" class="btn bg-primary" onclick="document.getElementById('get-agreement-file').click()">Выбрать файл оферты</button>
                                <input name="payment_factoring004_agreement_file" type="file" id="get-agreement-file" style="display:none">
                                <br><small id="input-agreement-file-help" class="form-text text-muted">{{ text_agreement_file }}</small>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                        <div class="col-sm-10">
                            <select name="payment_factoring004_status" id="input-status" class="form-control">
                                {% if payment_factoring004_status %}
                                    <option value="1" selected="selected">{{ text_enabled }}</option>
                                    <option value="0">{{ text_disabled }}</option>
                                {% else %}
                                    <option value="1">{{ text_enabled }}</option>
                                    <option value="0" selected="selected">{{ text_disabled }}</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{ footer }}

<script>
    let button = $('#payment-factoring004-agreement-button');
    button.click(function (e) {
        let filename = button.prev().attr('href').split('/').pop();
        $.ajax({
            url: window.location.href + '&filename=' + filename,
            type: 'DELETE',
            dataType: 'json',
            beforeSend: function () {
                button.button('loading');
            },
            complete: function () {
                button.button('reset');
                location.reload();
            },
            success: function(response) {
                if (response.success) {
                    alert(response.message)
                } else {
                    alert(response.message)
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText)
            }
        })
    })
</script>